@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-display: optional;
}

.bg-blur {
  backdrop-filter: blur(12px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
}

.bg-purple-light {
  background: #bb86fc;
}

.article {
  h1,
  h2,
  h3,
  h4 {
    strong {
      font-weight: bolder;
    }
  }
}
